In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
dataset = pd.read_csv("Ruby.csv")
dataset

   Nationality  Age   Salary  Gender
0        Spain  28.0  40,000  Female
1       Poland  38.0  50,000  Female
2      Germany   NaN   70000    Male
3       Poland  32.0  100000    Male
4        Spain  19.0   13000  Female
5      Germany  26.0   38000    Male
6      Germany  33.0   64000  Female
7        Spain  35.0     NaN    Male
8       Poland  24.0   46000  Female
9      Germany  20.0   60000    Male
10       Spain  31.0   44000  Female
11      Poland  27.0   54000    Male

In [11]:
X = dataset.iloc[:, :-1].values
X

array([['Spain', 28.0, '40,000'],
       ['Poland', 38.0, '50,000'],
       ['Germany', nan, '70000'],
       ['Poland', 32.0, '100000'],
       ['Spain', 19.0, '13000'],
       ['Germany', 26.0, '38000'],
       ['Germany', 33.0, '64000'],
       ['Spain', 35.0, nan],
       ['Poland', 24.0, '46000'],
       ['Germany', 20.0, '60000'],
       ['Spain', 31.0, '44000'],
       ['Poland', 27.0, '54000']], dtype=object)

In [10]:
Y = dataset.iloc[:,3].values
Y

array(['Female', 'Female', 'Male', 'Male', 'Female', 'Male', 'Female',
       'Male', 'Female', 'Male', 'Female', 'Male'], dtype=object)

Taking care of missing data

In [5]:
from sklearn.preprocessing import Imputer

In [7]:
imputer = Imputer(missing_values = "NaN", strategy = "mean", axis = 0)

c:\users\dared\appdata\local\programs\python\python35\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [19]:
data = X[:,1].reshape(-1,1)
imputer = imputer.fit(data)
imputer

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)